<h1>{{titleApp}}</h1>

<div class="form-group">
  <label>Search by price</label>
  <input name="priceMax" [(ngModel)]="priceMax" type="number" class="form-control">
</div>


<table class="table">
  <thead>
  <tr>
    <th>Picture</th>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>price</th>
    <th>quantity</th>
    <th>likes ❤️ </th>
    <th>action</th>
  </tr>
  </thead>
  <tbody *ngFor="let product of listProduct">
  <tr *ngIf="product.price<=priceMax"><!-- on ne peut pas déclarer 2 directives sructurelles dans la meme balise -->
    <td>
      <img src="{{product.picture}}">
    </td>
    <td>{{product.id}}</td><!-- {{var}}:data binding interpolation -->
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td> <button class="btn btn-sm btn-success" (click)="incrementLike(product)">  {{product.like}} 💕 </button></td>
    <td>
      <button class="btn btn-sm btn-warning" [disabled]='product.quantity===0'  (click)="buyProduct(product)">Buy </button> <!--*ngIf="product.quantity>0:proprity binding /hidden crée le bouton mais ne l'affiche pas si faux/*ngIf ne crée pas le bouton si faux -->
      <P *ngIf="product.quantity===0">Out Of Stock</P><!--==comparaison just valeur, ===comparaison valeur et type  -->
    </td>

  </tr>
  </tbody>
</table>
